models/
!src/field_converter/models/
!src/field_converter/models/**
data/
debug_folder/
slurms/
prompts/
outputs/
play_vizu/
!src/field_converter/play_vizu/
!src/field_converter/play_vizu/**

.vscode/
.env
__pycache__/
*.pyc
