models/
!src/field_converter/models/
!src/field_converter/models/**
data/
debug_folder/
slurms/
prompts/
outputs/
play_vizu/
!src/field_converter/play_vizu/
!src/field_converter/play_vizu/**
tests/

.vscode/
.env
__pycache__/
*.pyc

.cache
.pytest_cache
.mypy_cache
.cache/matplotlib